footer {
    background-color: lightblue;
    height: 60px;
    display: flex;
    margin-top: auto;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.list-div a {
    margin-left: 10px;
}

.list-div a{
    text-decoration: none;
    color: black;
    font-family: 'Helvetica';
    font-size: 18px;
}

.footer-container {
    display: flex;
}

.footer-container p {
    margin: 5px;
}

.envelope-logo, .linkedin-logo, .github-logo {
    width: 30px;
    height: 30px;
}

div.list-div {
    margin-left: auto;
}

footer ul li a:hover {
    text-decoration: underline;
}

p.copy {
    text-align: center;
}

