h1.intro-title {
    margin: 35px;
    font-size: 25px;
}

.intro-text p {
    margin: 35px;
}

.intro-text p {
    font-size: 16px;
}

img.Travon-portrait-home {
    height: 350px;
    width: 300px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;

}

/* screen sizes 650 or wider */
@media (min-width: 850px) {
    div.intro-container {
        display: flex;
    }

    h1.intro-title {
        font-size: 35px;
    }
    .intro-text p {
        font-size: 18px;
    }
    
    .intro-text, .intro-pic {
        flex-basis: 50%;
        flex-grow: 1;
    }
}

h1.projects {
    font-size: 25px;
    margin: 20px;
}


div.skills {
display: flex;
justify-content: center;
align-items: center;
}



.java-logo, .python-logo, .sql-logo, .html-logo, .css-logo, .js-logo, .node-logo, .express-logo, .mongo-logo {
    height: 50px;
    width: 50px;
    margin: 2px;
}

.react-logo {
    height: 45px;
    width: 50px;
    margin: 2px;
}