h1.intro-title {
    margin: 20px;
    font-size: 25px;
}

.intro-text p {
    margin: 20px;
}

.intro-text p {
    font-size: 16px;
}

.Travon-portrait-home {
    height: 250px;
    width: 200px;
    border-radius: 15px;
}

img.Travon-portrait-home {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
}

@media (min-width: 590px) {
    div.intro-container {
        display: flex;
    }

    h1.intro-title {
        font-size: 35px;
    }
    .intro-text p {
        font-size: 18px;
    }
    
    .intro-text, .intro-pic {
        flex-basis: 50%;
        flex-grow: 1;
    }
   

 
}

h1.projects {
    font-size: 25px;
    margin: 20px;
}